<div class="d-flex row justify-content-center mt-3">
    <div class="card mr-2" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">About us</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/about" class="btn btn-info">Go to about</a>
      </div>
    </div>
    <div class="card mr-2" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Contact us</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/contact" class="btn btn-info">Go to contact</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">Todo list</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/todos" class="btn btn-info">Go to our todo list</a>
      </div>
    </div>
</div>